.side-bar {
  max-width: 300px;
}

.nav-list-link {
    &.active {
    background-image: linear-gradient(-90deg, #023E8A 0%, rgba(2, 62, 138, 0.8) 80%, rgba(2, 62, 138, 0) 100%) !important;
    }
    &:hover {
      background-image: linear-gradient(-90deg, #023E8A 0%, rgba(2, 62, 138, 0.8) 80%, rgba(2, 62, 138, 0) 100%) !important;
    }
}

.site-title {
  color: $grey-lt-100;
  &:hover {
    background-image: linear-gradient(-90deg, #023E8A 0%, rgba(2, 62, 138, 0.8) 80%, rgba(2, 62, 138, 0) 100%) !important;
  }
}

.nav-list-expander {
  &:hover {
    background-image: linear-gradient(-90deg, #023E8A 0%, rgba(2, 62, 138, 0.8) 80%, rgba(2, 62, 138, 0) 100%) !important;
  }
}

.site-logo {
  width: 50%;
  height: 50%;
}

.nav-list-link {
  color: $grey-lt-100;
}

.site-nav {
  padding-top: 1rem;
}

.site-header {
  border-bottom: none;
}

img {
  padding: 1rem;
}
