.side-bar {
  width: 300px;
}

.nav-list-link {
    &.active {
    background-image: linear-gradient(-90deg, #023E8A 0%, rgba(2, 62, 138, 0.8) 80%, rgba(2, 62, 138, 0) 100%) !important;
    }
    &:hover {
      background-image: linear-gradient(-90deg, #023E8A 0%, rgba(2, 62, 138, 0.8) 80%, rgba(2, 62, 138, 0) 100%) !important;
    }
}

.site-title {
  color: $grey-lt-100;
  &:hover {
    background-image: linear-gradient(-90deg, #023E8A 0%, rgba(2, 62, 138, 0.8) 80%, rgba(2, 62, 138, 0) 100%) !important;
  }
}

.nav-list-expander {
  &:hover {
    background-image: linear-gradient(-90deg, #023E8A 0%, rgba(2, 62, 138, 0.8) 80%, rgba(2, 62, 138, 0) 100%) !important;
  }
}

.site-logo {
  width: 80%;
  height: 80%;
}

.nav-list-link {
  color: $grey-lt-100;
}

.site-nav {
  padding-top: 1rem;
  // padding-top: 0px;
}

.site-header {
  border-bottom: none;
}

img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

hr {
  background-color: #00B4D8;
}

.highlighter-rouge {
  border: 1px solid $grey-lt-200;
}

.main-header {
  height: 60px;
}

// Getting started buttons (for homepage)

.gettingStarted {
  height: 4rem;
  background-color: white;
  color: $grey-dk-300;
  // border: 1px solid $grey-lt-200;
  text-decoration: none;
  width: auto;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 5px;

  &.blue {
    color: white;
    background-color: #023E8A;
    & a {
      color: white;
    }

    &:hover {
      background-color: #03045E;
    }
  }

  & img {
    padding: 0px;
    padding-right: 1rem;
  }

  & a {
    text-decoration: none;
    background-image: none;

    &:hover {
      background-image: none;
    }
  }
}

.line-height-fix {
  line-height: inherit;
}

blockquote {
  background-color: $grey-lt-100;
  border-radius: 6px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 2rem !important;
}

.label-red {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.highlight {
  max-height: 500px;
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}
